.message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #797f9c;
  background: #565b74;
  color: white;
  padding: 10px;
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__filter {
    color: black
  }
  &__right {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    button {
      color: red;
    }
  }
}
