.feed {
    width: 100%;
    height: 100%;
    &__tools-panel {
        padding: 30px 0;
    }
    &__list {
        width: 100%;
        height: calc(100vh - 40px - 103px);
        border: 2px solid #797f9c;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    &__tools-panel {
        display: flex;
        justify-content: space-between;
    }
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #797f9c;
    background: #565b74;
    color: white;
    padding: 10px;
    &__info {
        display: flex;
        justify-content: space-between;
    }
}
