.header {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &__container {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    height: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-right: 20px;
    &:hover {
      opacity: 0.8;
    }
    a {
      text-decoration: none;
      color: gray;
    }
  }
}
